.mob_yangfan_task1_02{ background:url("buttons.png") top left no-repeat; }
.shanchu{ width:63px; height:68px; background-position:-50px -50px; }
.bianji da{ width:65px; height:66px; background-position:-50px -168px; }
.bianji xiao{ width:55px; height:55px; background-position:-50px -284px; }
.caidan{ width:55px; height:44px; background-position:-50px -389px; }
.guanbi{ width:42px; height:42px; background-position:-50px -483px; }

