.buttons{ background:url("buttons.png") top left no-repeat; }
.删除{ width:63px; height:68px; background-position:-10px -10px; }
.编辑2{ width:65px; height:66px; background-position:-10px -88px; }
.编辑{ width:55px; height:55px; background-position:-10px -164px; }
.目录{ width:55px; height:44px; background-position:-10px -229px; }
.关闭{ width:42px; height:42px; background-position:-10px -283px; }

