.icons{ background:url("icons.png") top left no-repeat; }
.zhusu{ width:80px; height:80px; background-position:-50px -50px; }
.qita{ width:80px; height:80px; background-position:-50px -180px; }
.gouwu{ width:79px; height:80px; background-position:-50px -310px; }
.yishi{ width:80px; height:80px; background-position:-50px -440px; }
.yifu{ width:80px; height:80px; background-position:-50px -570px; }
.shouru{ width:80px; height:80px; background-position:-50px -700px; }
.jiaotong{ width:79px; height:79px; background-position:-50px -830px; }

