.math{ background:url("math.png") top left no-repeat; }
.mob_yangfan_task1_01_r4_c3{ width:47px; height:47px; background-position:-50px -50px; }
.mob_yangfan_task1_01_r2_c2{ width:67px; height:35px; background-position:-50px -147px; }
.mob_yangfan_task1_01_r8_c3{ width:47px; height:18px; background-position:-50px -232px; }
.mob_yangfan_task1_01_r6_c3{ width:47px; height:5px; background-position:-50px -300px; }

